body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9edf0;
}
article
{
  width: 100%;
  height: 100%;
  display: inline-block;
}
a 
{
  color: #00B7FF;
}

.section
{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin: 110px auto;
    text-align: center;
    background: #fbfcf0;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    overflow: auto;
}

.top-menu
{
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100px;
    background:#ffffff;
    color: #1c272e;
    box-shadow: 2px 2px 3px 2px darkgrey;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.logo
{
    float : left;
    height: 100px;
    width: 40%;
    top : 0px;
    left : 0px;
    text-align: center;
    overflow: hidden;
}
.navigation
{
    height: 100px;
    width : 50%;
    margin : 0 auto;
    float: right;
}

li.nav-item{
  display: inline-block;
  color: #1c272e;
  padding: 8px 16px 16px 8px;
  text-decoration: none;
}

.nav-ul
{
    list-style-type: none;
    padding: 0;
    display: inline;
    color: #fff;
    bottom: -10%;
}

textarea:focus, input:focus
{
    border-color: transparent !important;
}

.upload-section:hover {
  border: 2px dotted rgb(64, 140, 238);
  border-width: 4px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.upload-section
{
  width: 40%;
  height: 70%;
  max-height: 100%;
  text-align: center;
  padding: 3%;
  margin: 0 10px;
  border-radius: 10px;
  border: 2px dotted #fff;
  border-width: 4px;
  box-sizing: border-box;
}

#preview-images
{
  width: 100%;
  height: auto;
  overflow: auto;
}
.container
{
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 6%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 6%;
    box-sizing: border-box;
}

.jumbotron-login
{ 
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(#e9edf0, #f5eee9);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
}
.form-container
{
    width: 80%;  
    min-height: 20vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.jumbotron
{
    background: rgb(201, 200, 200);
    border-radius: 5px;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-left: 25%;
    margin-right: 25%;
    opacity: 0.8;
    box-sizing: border-box;
}
.form-control
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    width: 90%;
    height: 5%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}
.label-text
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 6%;
    color: #1c272e;
    text-align: center;
    background: #fff;
    box-shadow: 0px 9px 8px 0px darkgrey;
    overflow: hidden;
}
.footer-text
{
    margin : 3px auto;
    font-size: 1em;
    text-align: center;
}
.form-group
{
    width: 100%;
    height: 30%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.posts-item
{
  width: 300px;
  height: 460px;
  overflow: hidden;
  margin: 20px;
  box-sizing: border-box;
}

.post-image
{
  width: 400px;
  height: 320px;
  overflow: hidden;
  margin: 20px;
  box-sizing: border-box;
}

.post-content
{
  box-sizing: border-box;
}

.text-post
{
  font-weight: 100;
  font-size: 0.9em;
  width: 300px;
  max-height: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  text-justify: inter-word;
}
.btn-success
{
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
    margin: 20px auto;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
}
.post-img
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.prev-images
{
  width: 100px; 
  height: 100px;
  margin: 0 13px;
}

@media screen and (max-width: 1000px) 
{
  .section 
  {
      display: block;
      height: 100%;
      font-size: 1.5em;
      overflow: auto;
  }
  img.images
  {
    width: 400px; 
    height: 320px;
  }
  .posts-item
  {
    width: 400px;
    height: 560px;
    overflow: hidden;
    margin: 20px auto;
    box-sizing: border-box;
  }
  .text-post
  {
    font-weight: 200;
    font-size: 1em;
    width: 400px;
    max-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 700px) 
{
  .section 
  {
      display: block;
      height: 100%;
      font-size: 1.5em;
      overflow: auto;
  }
  img.images
  {
    width: 400px; 
    height: 320px;
  }
  .posts-item
  {
    width: 400px;
    height: 560px;
    overflow: hidden;
    margin: 20px auto;
    box-sizing: border-box;
  }
  .text-post
  {
    font-weight: 100;
    font-size: 1em;
    width: 400px;
    max-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 300px) 
{
  .section 
  {
      display: block;
      height: auto;
      font-size: 1.5em;
      overflow: auto;
  }
  img.images
  {
    width: 100%; 
    height: 320px;
  }
  .posts-item
  {
    width: 400px;
    height: 560px;
    overflow: hidden;
    margin: 20px auto;
    box-sizing: border-box;
  }
  .text-post
  {
    font-weight: 100;
    font-size: 1em;
    width: 400px;
    max-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}