<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pop.css' />
  </head>
  <body>
    <article>
      <header class="top-menu">
        <nav>
          <div class="logo">
            <img src = "img/logo.png" width = "200px" height = "120px" alt="blog logo"/>
          </div>
          <div class = "navigation">
              <ul class = "nav-ul">
                  <li id = "home" class= "nav-item">Posts</li>
                  <li id = "posts" class= "nav-item">New Post</li>
                  <li id = "mposts" class= "nav-item">My Posts</li>
                  <li id = "login" class= "nav-item">login</li>
              </ul>
          </div>
        </nav>
      <header>
      <section class="section">
        <section class="posts-item">
          <img id="blog-image" class="images post-img" src = "img/sample.jpg" width = "300px" height = "220px" alt="blog logo"/>
          <section class="text-post">
            <p id="blog-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </section>
          <button id = "edit" class="btn-primary">Edit</button>
          <button id="delete" class="btn-danger">Delete</button>
        </section>

        <section class="posts-item">
          <img class="images post-img" id="post-image" src = "img/sample.jpg" width = "300px" height = "220px" alt="blog logo"/>
          <section class="text-post">
            <p id="post-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </section>
          <button id = "edit" class="btn-primary">Edit</button>
          <button id="delete" class="btn-danger">Delete</button>
        </section>

        <section class="pop" id="popUp">
            <span id="dismiss" class="close"><img src="/img/close.png" width = "50px" height="50px"></span>
            <section id="login-section" class="pop-login">
                <section>
                    <label class="label-text label-color"><h2>Sign In</h2></label>
                </section>
                <section  class="form-group">
                    <input type="text" class="form-control" name = "user" placeholder="Username or Email..."/>
                </section>
                <section  class="form-group">
                    <input type="password" class="form-control" name = "pass" placeholder="password..." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                </section>
                <section class="form-group">
                    <button  type="submit" class="btn-login" name="login">Login</button><br/>
                    <section class = "href-link">
                        <label id="forgot"><a>forgot password?</a></label>
                        </section>
                        <section class = "href-link">
                        <label id = "register"><a>Don't have an account?</a></label>
                    </section>
                </section>
            </section>

            <section id="register-section" class="pop-login">
                <section>
                    <label class="label-text label-color"><h2>Create Account</h2></label>
                </section>
                <section  class="form-group">
                    <input type="text" class="form-control" name = "user" placeholder="Username..."/>
                </section>
                <section  class="form-group">
                    <input type="text" class="form-control" name = "email" placeholder="Email...."/>
                </section>
                <section  class="form-group">
                    <input type="password" class="form-control" name = "pass" placeholder="password..." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                </section>
                <section  class="form-group">
                    <input type="password" class="form-control" name = "confpass" placeholder="confirm password..." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                </section>
                <section class="form-group">
                    <button  type="submit" class="btn-login" name="login">Register</button><br/>
                    <section class = "href-link">
                        <label id = "have-account"><a>Already Have an account?</a></label>
                    </section>
                </section>
            </section>

            </section>
        </section>

      </section>
      <footer class = "footer">
          <p class = "footer-text">&copy;Blog Application</p>
      </footer>
    </article>
    <script type="text/javascript" src="/scripts/pop.js"></script>
    <script type="text/javascript" src="/scripts/open_pages.js"></script>
  </body>
</html>
